<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="start_x_pos" default="0.0"/>
  <arg name="start_y_pos" default="0.0"/>
  <arg name="start_z_pos" default="0.0"/>
  <arg name = "start_ang" default= "0"/>
  <arg name = "goal_x_pos" default= "5.0"/>
  <arg name = "goal_y_pos" default= "0.0"/>
  <arg name = "clearance" default= "8"/>
  <arg name = "rpm1" default= "8"/>
  <arg name = "rpm2" default= "10"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world"/> -->
    <arg name="world_name" value="$(find Part2)/worlds/map.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg start_x_pos) -y $(arg start_y_pos) -z $(arg start_z_pos) -param robot_description" />

  <node pkg="Part2" name="turtle_talker" type="publish.py" 
    output="screen"
    args = "$(arg start_x_pos) $(arg start_y_pos) $(arg start_ang) $(arg goal_x_pos) $(arg goal_y_pos) $(arg clearance) $(arg rpm1) $(arg rpm2)"/>


</launch>
